svg {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

#tooltip {
  position: absolute;
}

.tooltip-title {
  text-transform: capitalize;
  text-align: center;
}

.tooltip-types {
  text-align: center;
}